<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - SportsStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" media="all" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
</head>
<body>
    <div class="navbar navbar-dark bg-dark p-2">
        <span class="mx-2">
            <a class="navbar-brand" asp-page="Index">SPORTS STORE</a>
        </span>
        <div class="navbar-nav mx-2">
            @await Component.InvokeAsync("CartSummary")
        </div>
    </div>
    <div class="row m-1 p-1">
        @RenderBody()
    </div>
</body>
</html>
