@model string[]

<div class="d-grid gap-2">
	<a class="btn btn-outline-secondary" asp-page="Index" asp-route-category="">
		Home
	</a>
	@foreach (string category in Model ?? Enumerable.Empty<string>())
	{
		var selectedCategoryButtonStyle = ViewBag.SelectedCategory == category ? "btn-primary" : "btn-outline-secondary";

		<a class="btn @(selectedCategoryButtonStyle)" asp-page="Index" asp-route-category="@category">
			@category
		</a>
	}
</div>